.iced_cookies

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws


# Node modules
node_modules/

# Puppeteer Chromium cache
.puppeteer/

# Debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python virtual environments
venv/
__pycache__/

# MacOS system files
.DS_Store

# Log files
*.log

# Configuration files
.ingress-ice.conf

# Sensitive data files
*.env
secrets/
.secrets
.secrets/

# Other potential cache or build directories
coverage/
dist/
build/
tmp/

# Exclude screenshots 
screenshots/
